.pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  text-align: center;
  z-index: 200;
  //   z-index: -1;
}
.load-text {
  span {
    display: inline-block;
    cursor: pointer;
    overflow-x: hidden;
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 0.75rem;
    color: var(--white);
    margin-left: 0.3em;
  }
}
